== slim :add_host

javascript:
  function notifyAddHostResult() {
    $.notifyBar({
      html: "Adding a new host was successful.",
      delay: 2000,
      animationSpeed: "normal",
      cssClass: "success"
    });
  }

  window.onload=notifyAddHostResult;
