javascript:
  delayTime = 2000

  function notifyModifyHostResult() {
    $.notifyBar({
      html: "Modiyfing a host was successful.",
      delay: delayTime,
      animationSpeed: "normal",
      cssClass: "success"
    });
  }

  window.onload = function () {
    notifyModifyHostResult();

    // notifyAddHostResult の動作が終わるのを待ってからリダイレクトする
    setTimeout(function () { location.href = "#{@referer}"; }, delayTime + 1000)
  }
